<h1 class="mb-4">{{ title }}</h1>
<p>
	Welcome to the Go-Looking Glass!
</p>

<p>
    Like other network looking glasses this system allows you to ping or traceroute any host over IPv4 or IPv6.
    Unlike other looking glasses it also produces reports with a unique URL that can be shared with your colleagues or friends.
    To get started, click a navigation link above.
</p>

<p>
    This installation is running {{ version }}. go-lg is free and open-source software available on
    <a href="https://github.com/CHTJonas/go-lg">GitHub</a>
</p>
