<h1 class="mb-4">{{ title }}</h1>
<p>
    Welcome to the Go-Looking Glass!
</p>

<p>
    Like other network looking glasses this system allows you to send ICMP pings
    or perform a traceroute to any host using IPv4 or IPv6. Unlike some other
    looking glasses it also produces reports with a unique URL that can be shared
    with your colleagues or friends. To get started, click a navigation link above.
</p>

<p>
    This installation is running {{ version }} of go-lg, a piece of free and open-source software available on
    <a href="https://github.com/CHTJonas/go-lg">GitHub</a>. You might also like
    <a href="https://bgp.tools/">bgp.tools</a>,
    <a href="https://ping.pe/">ping.pe</a>,
    <a href="http://ping.online.net/">ping.online.net</a>,
    <a href="http://www.dns-lg.com/">DNS-lg</a>
    and <a href="https://dnsviz.net/">DNSViz</a>.
</p>
